.navbar {
	background-color: #121619;
}
.navbar-logo {
	margin-left: 200px;
}
.nav-item-fin {
	margin-right: 200px;
}
.jumbotron {
	background:url(img/post-image.jpg) no-repeat; 
	height:700px;
	text-align: center;
	color: #ffffff;
}
.btn {
	margin-top: 300px;
}
.btn-icons {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}
.container-icons {
	width: 10px;
	height: 10px;
}